/* Same for main section */
.layout-main > .layout-main-section-wrapper {
  flex: 0 0 77%;
  max-width: 78%;
  margin-top: 10px;
/*   background-color: green; */
  border-radius: 10px;
/*   padding: 16px; */
  box-sizing: border-box;
}

.layout-main > .layout-main-section-wrapper > .layout-main-section{
  background-color: #F1F4F6;
  border: none;
}

/*shortcut links edits*/
.shortcut-widget-box{
  background-color: var(--navbar-bg) !important;
  padding: 6% !important;
  width: fit-content;
  color: white !important;
 
}

.shortcut-widget-box .widget-head .widget-title span{
  color: white;
  font-weight: 600;
}

.shortcut-widget-box .widget-head .widget-control svg{
/*   font-weight: 600; */
  stroke: white;
}

.shortcut-widget-box:hover {
  
  .widget-head .widget-title span, .widget-head .widget-control svg{
  color: #FFD203 !important;
  stroke: #FFD203 !important;
}

}

/*Widget edits*/

.widget {
    border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 26px;
}

.widget.custom-block-widget-box{
  width: fit-content !important;
  height: fit-content !important;
}

.widget.dashboard-widget-box{
/*   background-color: green; */
}

.widget.dashboard-widget-box .widget-title span{
   color: #F29425 !important;
  font-size: 16px;
  font-weight: 700;
}




.widget.number-widget-box{
/*     width: 220px; */
  height: 155px;
  border-radius: 12px;
  padding: 16px;
  position: relative;
/*   overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);*/
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.widget.number-widget-box .widget-head .widget-label .widget-title span{
  font-size: 11px;
  font-weight: 700;
  color: #2d3748;
  /*line-height: 1.2;*/
  word-break: none;
}

.widget.number-widget-box .widget-body .widget-content .number{
  font-size: 20px !important;
  font-weight: 700 !important;;
  line-height: 1;
}


  /* Page-form customizations */
.page-form {
  background-color: var(--navbar-bg) !important;
  padding-bottom: 20px;
}

/* form-page customizations  */
.form-page{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
}


.form-page .form-tabs-list{
  background-color: var(--navbar-bg) !important;
}


.form-page .form-tabs-list ul li a{
  color: #fff !important;
}

.form-page .form-tabs-list ul li .active{
  color: #FFD203 !important;
}


